@font-face {
    font-family: Segoe UI;
    src: url(Segoe-UI.ttf);
}

body {
    background: #F2F2FA;
    font-family: -apple-system, Segoe UI;
}

img {
  width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 63% 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

#img1 {
    grid-row: span 3;
}

#img2 {
    grid-column: span 2;
    grid-row: span 2;
}

#img3 {
    height: 100%;
}

#dalsi-fotky {
    background: #000;
}

#img4 {
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }

    #img1 {
        height: 100%;
    }

    #img3 {
        display: none;
    }

    #img4 {
        grid-column: span 2;
        height: 105px;
        object-fit: cover;
    }
  }

@media only screen and (max-width: 320px) {
  .grid {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  #img1 {
    grid-column: span 2;
  }

  #img3 {
      display: none;
  }
}
